body {
    background-image: url(../images/white-waves.png);
}
.container {
    margin: auto;
}
#codebreak {
    width: 580px;
    position: absolute;
    top: 0px;
    left: 25px;
}
.buttons {
    position: absolute;
    left: 10px;
    margin-top: 150px;
}
.buttons1 {
    position: absolute;
    left: 82px;
    margin-top: 150px;
}
#green {
    width: 60px;
    height: 60px;
    background-color: green;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 6px;
    
}
#red {
    width: 60px;
    height: 60px;
    background-color: red;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 6px;
}
#yellow {
    width: 60px;
    height: 60px;
    background-color: yellow;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 6px;
}
#purple {
    width: 60px;
    height: 60px;
    background-color: purple;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 6px;
}
#blue {
    width: 60px;
    height: 60px;
    background-color: blue;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 6px;
}
#orange {
    width: 60px;
    height: 60px;
    background-color: orange;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 6px;
}
#lightgray, #clear {
    padding: 10px 0px;
    text-align: center;
    font-size: 20px;
    width: 60px;
    height: 40px;
    background-color: lightgray;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 6px;
}
#clear {
    background-color: white;
}
.rowmain {
    height: 62px;
    border-bottom-width: 2px;
    border-left-width: 3px;
    border-style: solid;
}
td {
    border: 1px solid black;
    /* height: 60px; */
    width: 31px;
}
.rowmain td, .answerkey td {
    background-image: url(../images/circlesquare30.png);
}
table {
    position: absolute;
    top: 140px;
    left: 160px;
}
#feedback {
    position: absolute;
    top 22px;
    left: 404px; 
}
.rowfeedback {
    background-color: rgb(165, 164, 164);
    height: 31px;
}
.rowfeedback1 {
    background-color: rgb(165, 164, 164);
    height: 31px;
    border-bottom-width: 2px;
    border-style: solid;
}
.guess, .playagain, .restart {
    font-size: 28px;
    font-weight: 600;
    width: 144px;
    padding: 14px 0px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    position: absolute;
    top: 440px; 
    left: 6px;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    display: none;
}
.guess:hover, .playagain:hover, .restart:hover {
    box-shadow: 1px 2px 4px 2px rgba(199, 73, 178, 0.8);
}
.restart {

}
.answerkey {
    position: absolute;
    top: 265px;
    left: 492px;
    height: 64px;
    border-width: 2px;
    border-style: solid;
    display: none;
}
/* .key {
    font-size: 19px;
    position: absolute;
    top: 401px;
    left: 460px;
    width: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: red;
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.4);
    padding: 10px;
    background-color: white;
} */
h2 {
    font-size: 22px;
    text-align: center;
}
#r9 {
    background-color: white;
}
.wins, .points, .avgguesses, .answercode {
    position: absolute;
    top: 160px;
    left: 480px;
    font-size: 35px;
}
#wins, #points, #avgguesses {
    background-color: black;
    color: white;
    font-weight: 800;
    padding: 5px 15px;
    border-style: solid;
    border-width: 3px;
    border-color: red;
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.4);
}
.answercode {
    position: absolute;
    top: 230px;
    left: 487px;
    color: #e81d1d;
    display: none;
}
/* .avgguesses {
    top: 300px;
} */
